.bg-overlay {
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .order-form {
    background-color: rgba(255, 255, 255, 0.4); /* átlátszó háttér */
    padding: 20px;
    border-radius: 50px;
    backdrop-filter: blur(10px); /* elhomályosítás */
  }

  .order-container {
    width: 90vw; /* Az ablak szélességének 90%-a */
    height: 90vh; /* Az ablak magasságának 90%-a */
}
    
  
.navbar {
  background-color: #333;
  position: relative;
}

.dropdown-toggle {
  position: relative;
  margin-left: 119%;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .navbar {
    background-color: lightblue;
    margin-top: 0;
  }
  .navbar-nav {
    flex-direction: column;
  }
  .nav-item {
    margin-bottom: 10px;
  }
}

.my-custom-navbar {
  background-color: rgba(27, 24, 22, 0.8) !important;
  position: fixed; /* Rögzített pozíció */
  top: 0; /* A lap tetején */
  width: 100%; /* Teljes szélességű */
  z-index: 1000;
  
}

.basic-navbar-nav{
  justify-content: end;
}
